.wave-container {
    position: relative;
    color: #00cba9;
    overflow: hidden;
}
.wave-container > svg {
    display: block;
}

.wave-container-top {
    position: relative;
    color: #00cba9;
    
    overflow: hidden;
} 
.wave-container-top > svg {
    transform: rotate(180deg);
    display: block;
}
.wave-container-bottom-2 > svg {
    transform: rotate(180deg);
    transform: scaleY(-1);
}
.wave-container-bottom-2 {
    position: relative;
    color: #00cba9;
    overflow: hidden;
    margin-top: -16px;
}
.section-top {
    background-color: #00cba9;
    color: #fff;
    padding: 1px;
}


